<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-button [routerLink]="'/home'">
      <mat-icon>house</mat-icon>
      HOME
    </button>
    <button mat-button [routerLink]="'/list'">
      <mat-icon>person</mat-icon>
      Organization
    </button>
    <button mat-button [routerLink]="'/about'">
      <mat-icon>bookmark</mat-icon>
      About
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>transfer_within_a_station</mat-icon>
      Auth
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/login'">
        <mat-icon>arrow_forward</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>arrow_back</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
