<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-button [routerLink]="'/home'">
      <mat-icon>dashboard</mat-icon>
      HOME
    </button>
    <button mat-button [routerLink]="'/list'">
      <mat-icon>description</mat-icon>
      List
    </button>
    <button mat-button [routerLink]="'/about'">
      <mat-icon>place</mat-icon>
      About
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
      User
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>user</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>arrow_left</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
